{% extends 'chat/base.html' %}


{% block content %}
<title>Account Details</title>
	
<br><br><br>
<center>
{% for detail in accountdetail %}
	<h4>{{detail.username}}'s details</h4>
{% endfor %}
<br><br><br>
<center>
<div class="container">
	{% for detail in accountdetail %}
  			<div class="row" style="margin-bottom:20px;">
    			<div class="col border border-dark">
      				<b>Username</b>
    			</div>
    			<div class="col border border-dark">
      				{{ detail.username }}
    			</div>
    		</div>
			<div class="row" style="margin-bottom:20px;">
    			<div class="col border border-dark">
      				<b>First Name</b>
    			</div>
    			<div class="col border border-dark">
      				{{ detail.firstname }}
    			</div>
    		</div>
			<div class="row" style="margin-bottom:20px;">
    			<div class="col border border-dark">
      				<b>Last Name</b>
    			</div>
    			<div class="col border border-dark">
      				{{ detail.lastname }}
    			</div>
    		</div>
			<div class="row" style="margin-bottom:20px;">
    			<div class="col border border-dark">
      				<b>Email</b>
    			</div>
    			<div class="col border border-dark">
      				{{ detail.email }}
    			</div>
    		</div>
			<div class="row" style="margin-bottom:20px;">
    			<div class="col border border-dark">
      				<b>Date of Birth</b>
    			</div>
    			<div class="col border border-dark">
      				{{ detail.date_of_birth }}
    			</div>
    		</div>
	{% endfor %}
</div>
</center>
{% endblock %}