{% extends 'chat/base.html' %}

{% block content %}
<title>Home</title>

<br>

<center>
	<h5> Start Chatscaping!</h5>
	<body>
		
		<div class="card" style="width: 50rem;" >
 			<div class="card-body" id="chat-log" style="max-height: 300px; overflow-y: scroll;">
    			{% for message in old_messages %}<b>{{ message.username }}</b>: {{ message.content }}<br>{% endfor %}
		 	</div>
		</div><br><br><br>
		<div class="container">
		<input id="chat-message-input" type="text" class="form-control">
		</div><br>
    <input id="chat-message-submit" type="button" value="Send as {{username}}" class="btn btn-success">
	{{ username|json_script:"username" }}
	   <script>
	   function goToBottom() {
                let objDiv = document.getElementById("chat-log");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
			goToBottom();
			
	    const userName = JSON.parse(document.getElementById('username').textContent);
		
			const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
        );

		chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
			if (data.message) {
				const author = data.username.replace(/"/g,"")
            	document.querySelector('#chat-log').innerHTML += ('<b>' + author + '</b>: ' + data.message + '<br>');
			}else{
				alert('The message cannot be empty!');
			}
			goToBottom();
        };

		chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

		document.querySelector('#chat-message-input').focus();
		document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) { 
                document.querySelector('#chat-message-submit').click();
            }
        };
		 document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
				'username': userName,
                'message': message
            }));
            messageInputDom.value = '';
        };
		console.log(userName);
		</script> 
		
	</body>
</center>

{% endblock %}