{% extends 'chat/base.html' %}


{% block content %}
<title>Find People</title>
<br><br><br>
<center>
<form method="GET" class="form-group">
		<input name="q" type="text" placeholder="Search by username" class="form-control">
		<br>
		<button type="submit" class="btn btn-outline-info">Search</button>
</form>
</center>
<br><br>
<center>
	{% if search_results %}
		<h5>{{ search_results.count }} result(s) found</h5>
	{%endif%}
</center>

<div class="container">
{% for result in search_results %}
	<div class="row" style="margin-bottom:20px;">
    <div class="col border border-dark">
      {{result.username}}
    </div>
	<div class="col border border-dark">
      <a href = "accountdetails/{{result.id}}" class="btn btn-link">View Account</a>
    </div>

  </div>

  
  {% endfor %}
</div>

<script>
	if({{no_of_friend_requests}} != 0){
		document.getElementById('no_of_friend_requests').innerHTML = {{no_of_friend_requests}};
	}
</script>


{% endblock %}
