{% extends 'chat/base.html' %}

{% block content %}
<title>Public Chat</title>

<br>

<center>
    <h5>Start Chatscaping</h5>
    <body>
        <div class="card" style="width: 50rem;" >
             <div class="card-body" id="chat-log" style="max-height: 300px; overflow-y: scroll;">
                {% for message in old_messages %}
                    {% if message.sender.username == request.user.username %}
                        <b>You</b>:
                    {% else %}
                        <b>{{ message.sender.username }}</b>: 
                    {% endif %}
                    {{ message.message_content }}<br>
                {% endfor %}
             </div>
        </div>
        <br><br><br>
        <div class="container">
            <input type="text" id="chat-message-input" class="form-control">
        </div><br>
        <input id="chat-message-submit" type="button" value="Send as {{username}}" class="btn btn-success">
        {{ username|json_script:"username" }}
        <script>
                function goToBottom() {
                    let objDiv = document.getElementById("chat-log");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
                goToBottom();

                const userName = JSON.parse(document.getElementById('username').textContent);

                const chatSocket = new WebSocket(
                    'ws://'	+	
                    window.location.host + 
                    '/ws/chat/'
                );
                chatSocket.onmessage = function(e){
                    const data = JSON.parse(e.data);
                        if(data.message_content){
                            if (!data.message_content.replace(/\s/g, "").length) {
                                alert("Message cannot be empty!");
                            }else{
                                const sender_username = data.sender_username.replace(/"/g,"")
                                if(sender_username == "{{ request.user.username }}"){
                                    document.querySelector('#chat-log').innerHTML += ('<b>' + "You" + '</b>: ' + data.message_content + '<br>');
                                }
                                else{
                                    document.querySelector('#chat-log').innerHTML += ('<b>' + sender_username + '</b>: ' + data.message_content + '<br>');
                                }
                            }
                        }
                        goToBottom();
                };
                chatSocket.onclose = function(e){
                    console.error('Chat Socket closed unexpectedly!');
                };
                document.querySelector('#chat-message-input').focus();
                document.querySelector('#chat-message-input').onkeyup = function(e) {
                    if(e.keyCode === 13){
                        document.querySelector('#chat-message-submit').click();
                    }
                };

                document.querySelector('#chat-message-submit').onclick = function(e) {
                    const messageInputDom = document.querySelector('#chat-message-input');
                    const message = messageInputDom.value;
                    
                if (!!message.replace(/\s/g, "").length) {
                    chatSocket.send(JSON.stringify({
                        'sender_username': userName,
                        'message_content': message
                    }));
                    messageInputDom.value = '';
                    };
                };
                if({{no_of_friend_requests}} != 0){
                    document.getElementById('no_of_friend_requests').innerHTML = {{no_of_friend_requests}};
                }
        </script>
    </body>
</center>

{% endblock %}