{% extends 'chat/base.html' %}


{% block content %}
<title>Change Password</title>

<br><br>
<center>
<h4>Edit {{request.user}}'s details</h4>


<hr>
<hr>

<div class="card" style="width:600px;">
<form method = 'POST' class = "form-group">
	{% csrf_token %}
	Old Password:
	{{ form.old_password }}
	New Password
	{{ form.new_password1 }}
	Confirm New Password
	{{ form.new_password2 }}
	<button type = "submit" class="btn btn-success" style="margin-bottom:10px; margin-top:10px;">Submit</button>
	{% if form.errors %}
    	<ul class="user-msg error">
    	{% for field in form %}
        	{% for error in field.errors %}
            	<li>
              	{% if field != '__all__' %}
                	<strong>{{ field.label }}:</strong>
              	{% endif %}
              	{{ error }}
            	</li>
        	{% endfor %}
    	{% endfor %}
    	</ul>
	{% endif %}
</form>
</div>
</center>

<style>
	.errorlist > li{
		color:red;
	}
</style>

<script>
	if({{no_of_friend_requests}} != 0){
		document.getElementById('no_of_friend_requests').innerHTML = {{no_of_friend_requests}};
	}
</script>

{% endblock %}

